@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --color-bright-orange: hsl(31, 7%, 52%);
    --color-dark-cyan: hsl(184, 100%, 22%);
    --color-very-dark-cyan: hsl(179, 100%, 13%);

    --color-transparent-white: hsla(0, 0%, 100%, 0.75);
    --color-very-light-gray: hsl(0, 0%, 95%);
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;

    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;

    font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
}
